body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1b1e2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
}

.selected {
  border-left: 4px solid rgb(0, 229, 255);
  background-image: linear-gradient(to right, rgb(0, 229, 255, .1), rgba(0, 229, 255, 0));
  color: rgb(0, 229, 255) !important;
}